/* Global */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

/* Header */
.header {
  width: 100%;
  top: 0;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
  position: fixed;
}
.header .logo {
  font-size: 32px;
  float: left;
  text-transform: uppercase;
}

.header .logo a {
  color: #3ab0ff;
  text-decoration: none;
}
.header .navigasi {
  font-size: 18px;
  float: right;
  margin-top: 30px;
  transition-duration: 0.8s;
}
.header .navigasi li {
  float: left;
  margin-left: 20px;
  display: block;
}
.header .navigasi li a {
  color: #37423b;
  text-decoration: none;
}

.navigasi a:hover,
.navigasi .active,
.navigasi li:hover > a {
  color: #3ab0ff;
}

/* Hero */
.hero {
  width: 100%;
  height: 900px;
}

/* Home */
.hero .img {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
}

.hero h1 {
  text-align: center;
}

.bungkus {
  width: 50%;
  height: 50%;
  overflow: scroll;
  margin: auto;
}

.frame {
  margin-left: 220px;
}

/* Contact */
.form {
  margin-left: 500px;
}

form,
input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
}

.form-grup label {
  display: block;
  margin: 2rem 0 0.5rem 0;
}

.form-grup textarea {
  resize: vertical;
}

.form-grup input[type='text'],
.form-grup input[type='email'],
.form-grup textarea {
  width: 50%;
  height: 5px;
  padding: 1rem 0.8rem;
}

.submit {
  padding: 8px 18px;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button {
  background-color: #fff;
  color: #37423b;
  border: 2px solid #3ab0ff;
}

.button:hover {
  background-color: #3ab0ff;
  color: #fff;
}

/* Footer */
.footer {
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #37423b;
  background-color: #fff;
  text-align: center;
}
